{% extends 'base.html' %}

{% block content %}
{% load static %}
<style>
    .header{
    background-image: url({% static 'logo/confiance.jpeg' %});
    background-size: cover;
    height: 100vh;
    }

    .index .zone1{
    display: flex;
    justify-content: space-between;
}

.index  .zone1 .image{
    margin: 10px 0px;
}

.index  .zone1 .texte{
    margin: 10px 20px;
}

.index  .zone1 .texte h1{
    color:rgb(255, 179, 0);
}

.index  .zone1 .texte h3{
    color:rgb(255, 179, 0);
}

.index  .zone1 .texte p{
    font-size: 1.2rem;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}

.index  .zone1 .texte h6{
    font-size: 1.3rem;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    /* text-align: justify; */
}

.index h2{
    color:rgb(255, 179, 0);
}

.infos{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.infos p{
    font-size: 1.4rem;
    font-weight: 600;
}
.row .plus{
    font-size: 1.1rem;
}
.date{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.date .card-date{
}
</style>
    <div class="header"></div>
    <div class="container index">
        <div class="zone1">
            <div class="image">
                <img src="{% static 'logo/1.png' %}" alt="logo">
            </div>
            <div class="texte">
                <h1 class="text-center">Qui sommes nous ?</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis fugit, laudantium, sapiente optio aspernatur labore non perferendis nisi rerum facere doloribus dolores?
                    Non suscipit et voluptates consequatur libero hic necessitatibus! Natus voluptatibus vel obcaecati sapiente laborum nisi maxime fugit ipsum beatae sint earum
                    fugiat soluta quidem corrupti animi, quis sed ipsam reprehenderit debitis quod autem temporibus quasi optio. Facere, unde?
                    Corporis obcaecati laboriosam quisquam magnam cum maxime minima dignissimos non veritatis nobis omnis animi dolorem eligendi at veniam, quo ad? Repellendus, maiores ullam.
                    Corporis impedit esse commodi? Aliquid, suscipit adipisci?
                </p>
                <h3 class="text-center">Notre mission</h3>
                <p>
                    <h6>Vous faciliter la recherche ou l'acquisition de votre bien immobilier.</h6>
                    <h6>Vous accompagner dans la gestion de vos biens immobiliers.</h6>
                    <h6>Vous conseiller et vous accompagner dans votre projet immobilier, de la recherche à la construction en passant par les démarches administratives.</h6>
                </p>
            </div>
        </div>

        <div class="zone2">
            <h2 class="text-center m-3">Nos Biens</h2>
            <div id="carouselExampleCaptions" class="carousel slide">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  {% for biens in bien %}
                    <div class="carousel-item active">
                    <img src="{{ biens.image.url }}" class="d-block w-100" alt="..." height="600px">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>{{ biens.property_type}}</h5>
                      <p>{{ biens.desc|truncatewords:20}}</p>
                      <button class="btn btn-warning"><a href="{% url 'detail' biens.id %}">Voire</a></button>
                    </div>
                  </div>
                  {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
        <div class="zone3">
            <h2 class="text-center m-3">Terrains a vendre</h2>
            <div class="row">
                {% for terrains in terrain %}
                <div class="card m-3" style="width: 540px; height: 171px;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="{{ terrains.image.url }}"  class="rounded-start" alt="..." width="171px" height="170px">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title" >{{ terrains.property_type }} a {{ terrains.status }}</h5>
                          <h6 class="card-price">Price : {{ terrains.price }} $</h6>
                          <div class="date">
                              <a class="plus text-warning" href="{% url 'detail' terrains.id %}">Plus d'information</a>
                              <p class="card-date">Il y a {{ terrains.date_added|timesince }}</p>
                          </div>
                        </div>
                      </div>
                    </div>

                </div>
                {% endfor %}
            </div>
            <div aria-label="...">
                <ul class="pagination justify-content-center">
                  <li class="page-item">
                    <a class="page-link" href="#">Previous</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item active" aria-current="page">
                    <span class="page-link">2</span>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                  </li>
                </ul>
            </div>
        </div>

        <div class="zone4">
            <h2 class="text-center m-3">Maison a vendre</h2>
            <div class="row">
                {% for houses in house %}
                <div class="card m-3" style="width: 540px;  height: 171px;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="{{ houses.image.url }}"  class=" rounded-start" alt="..." width="171px" height="170px">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">{{ houses.property_type }} a {{ houses.status }}</h5>
                          <h6 class="card-title">Price : {{ houses.price }} $</h6>
                          <div class="infos">
                            <p><img src="{% static 'logo/lit.png' %}" alt="" width="20px"> {{ houses.nbr_chambre }}</p>
                            <p>{{ houses.nbr_salle_bain }} <img src="{% static 'logo/bain.png' %}" alt="" width="20px"></p>
                          </div>
                          <div class="date">
                              <a class="plus text-warning" href="{% url 'detail' houses.id %}">Plus d'information</a>
                              <p class="card-date">Il y a {{ houses.date_added|timesince }}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div aria-label="...">
                <ul class="pagination justify-content-center">
                  <li class="page-item">
                    <a class="page-link" href="#">Previous</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item active" aria-current="page">
                    <span class="page-link">2</span>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                  </li>
                </ul>
            </div>
        </div>

        <div class="zone5">
            <h2 class="text-center m-3">Appartement a Louer</h2>
            <div class="row">
                {% for appartements in appartement %}
                <div class="card m-3" style="width: 540px; height: 171px;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="{{ appartements.image.url }}"  class=" rounded-start" alt="..." width="171px" height="170px">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">{{ appartements.property_type }} a {{ appartements.status }}</h5>
                          <h6 class="card-title">Price : {{ appartements.price }} $</h6>
                          <div class="infos">
                            <p><img src="{% static 'logo/lit.png' %}" alt="" width="20px"> {{ appartements.nbr_chambre }}</p>
                            <p>{{ appartements.nbr_salle_bain }} <img src="{% static 'logo/bain.png' %}" alt="" width="20px"></p>
                          </div>
                         <div class="date">
                              <a class="plus text-warning" href="{% url 'detail' appartements.id %}">Plus d'information</a>
                              <p class="card-date">Il y a {{ appartements.date_added|timesince }}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div aria-label="...">
                <ul class="pagination justify-content-center">
                  <li class="page-item">
                    <a class="page-link" href="#">Previous</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item active" aria-current="page">
                    <span class="page-link">2</span>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                  </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}